<%= form_for(@scotch, :html => {:multipart => true}) do |f| %>
  <% if @scotch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scotch.errors.count, "error") %> prohibited this scotch from being saved:</h2>

      <ul>
      <% @scotch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br /><br />
  </div>
  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %><br /><br />
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %><br /><br />
  </div>
  <div class="field">
    <%= f.label :taste %>
    <%= f.text_area :taste %><br /><br />
  </div>
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %><br /><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
