<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scotch.name %>
</p>

<p>
  <b>Area:</b>
  <%= @scotch.area %>
</p>

<p>
  <b>Address:</b>
  <%= @scotch.address %>
</p>

<p>
  <b>Taste:</b>
  <%= @scotch.taste %>
</p>

<%= link_to 'Edit', edit_scotch_path(@scotch) %> |
<%= link_to 'Back', scotches_path %>
